:root{
    --main-c1: /* #0093dd*/ #04337c;
    --main-c2: red;
}

@media (max-width: 1025px) and (max-height:1370px)  {
    body {
        font-family: 'Archivo Black', sans-serif;
        background-color: rgb(255, 255, 255);
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100vw;
        height: 100vh;
    }

    nav {
        background-color: white;
        padding: 5px;
        text-align: left;
        border-bottom: 0.2vh solid #b1afaf;
        position: relative;
    }
    
    .dropbtn {
        border: none;
        color: #b1afaf;
        background-color: white;
        font-size: larger;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 4;
        top: 100%;
        left: 0;
    }
    
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        z-index: 4;
    }
    
    /* Obsługa zdarzeń dla :hover i :focus */
    .dropdown:hover .dropdown-content,
    .dropdown:focus .dropdown-content {
        display: block;
    }
    #lnt{
        color: #898989;
        width: 80vw;
        text-align: right;
        font-size: 1.7vh;
        position: absolute;
        margin-left: 10vw;
        margin-top: -2.4vh;
    }
    section{
        width: 100vw;
        height: 200vh;
    }
    #section1 {
        display:flex;
        background-image: url(tlo.jpg);
        background-position: center;
        background-size:cover;
        height: 72vh;
        flex-direction: column;
    }
    #decor-container{
        display:flex;
        height: 30vh;
        width: 100vw;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 15vh;
    }
    #decor1{
        position: absolute;
        background-color: var(--main-c1);
        width: 20vh;
        height: 29vh;
        margin-bottom: -13vh;
        margin-left: -10vw;
        z-index: 2;

    }
    @media (max-width:600px){
    #decor2{
        position: absolute;
        background-color: var(--main-c2);
        width: 15vh;
        height: 20vh;
        margin-left: 20vw;
        margin-bottom: 2vh;
        z-index: 1;
    }
    }
    #photo{
        position: absolute;
        height: 30vh;
        margin-bottom: -10vh;
        z-index: 3;
    }
    #m_photo{
        display: none;
    }
    #TS{
        font-family: 'Archivo Black', sans-serif;
        font-size: 9vh;
        color: var(--main-c1);
        text-align: center;
        line-height: 9vh;
        letter-spacing: -0.2vh;
    }
    #section2{
        position: relative;
        margin-top: -2vh;
        display: flex;
        width: 100vw;
        background-color: var(--main-c1);
        color: white;
        z-index:10;
        padding-top: 5vh;
        flex-direction: column
    }
    #TK{
        font-size: 3vh;
        text-align: center;

        padding-bottom: 1.3vh;
        z-index:10;
    }
    #txt2{
        display: flex;
        align-items: center;
        margin-left:5vw;
        margin-right: 5vw;
        text-align: left;
        font-size: 1.3vh;
        font-weight: 300;
        z-index:10;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 6vh;
    }
    #section3{
        margin-top: -20vh;
        position: relative;
        background-image: url(TS2.jpg);
        background-position: center;
        background-size:cover;
        height: 100vh;
        z-index: 2;
    }
    #background{
        background-color: black;
        opacity: 0.3;
        z-index: 2;
        height: 100vh;
    }
    #decor3{
        position: relative;
        background-color: var(--main-c1);
        margin-top: -8vh;
        margin-left: -5vw;
        width: 100vw;
        height: 5vh;
        transform: rotate(-4deg);
        z-index: 9;
    }
    #section4{
        margin-top: -10vh;
        background-image: url(tlo2.jpg);
        background-position: center;
        background-size:cover;
        height: 120vh;
        width: 100vw;
        padding-top: 5vh;
    }
    #PT{
        color: var(--main-c1);
        font-size: 3vh;
        font-weight: 300;
        z-index: 11;
        margin-top:10vh;
        letter-spacing: -0.1vh;
        padding-top: 20vh;
        padding: 5vw;
    }
    #decor4{
        position: relative;
        background-color: var(--main-c1);
        margin-top: -4vh;
        width: 100vw;
        height: 5vh;
        z-index: 10;
    }
    #txt4{
        color: var(--main-c1);
        display: flex;
        align-items: center;
        height: 30vh;
        margin:6vw;
        margin-top: 10vh;
        text-align: left;
        font-size: 1.5vh;
        font-weight: 300;
        z-index:10;
    }
    #PW{
        color: var(--main-c1);
        font-size: 3vh;
        font-weight: 300;
        padding-left: 5vw;
        z-index: 11;
        margin-top:10vh;
        letter-spacing: -0.1vh;
        padding-top: 10vh;
    }
    #download_pw{
        color: var(--main-c1);
        align-items: center;
        text-align: center;
        font-size: 1.3vh;
        font-weight: 300;
        z-index:10;
        margin-top: 10vh;
    }
    #pdf_file{
        height: 10vh;
    }
    #section5{
        height: 40vh;
        background-image: url(TS_6.JPG);        
        background-position: center;
        background-size:cover;
    }
    #background2{
        background-color: #04337c;
        opacity: 0.9;
        z-index: 2;
        height: 40vh;
    }

    #decor41{
        height: 10vh;
        background-color: white;
    }
    #txtsec5{
        padding: 5vw;
        position: absolute;
        margin-top: -37vh;
        color: white;
        font-size: 1.5vh;
    }
    #section6{
        width: 100vw;
        height: 100vh;
        background-color: white;
        margin-top: -10vh;
        background-image: url(tlo2.jpg);
        background-position: center;
        background-size:cover;
    }
    #MZ{
        padding: 5vw;
        color: var(--main-c1);
        font-size: 3vh;
        font-weight: 300;
        z-index: 11;
        margin-top:10vh;
        letter-spacing: -0.1vh;
        padding-top: 10vh;
    }
    #decor5{
        background-color: var(--main-c1);
        height: 5vh;
    }
    #decor51{
        background-image: url(TS3.JPG);
        height: 40vh;
        background-position: center;
        background-size:cover;
    } 
    #background3{
        background-color: black;
        opacity: 0.3;
        z-index: 2;
        height: 40vh;
    }
    #decor6{
        background-color: var(--main-c1);
        height: 5vh;
    }
    #section7{
        height: 300vh;
        align-items: center;
        background-image: url(tlo2.jpg);
        background-position: left;
        background-size:cover;
    }
    #Mtxt{
        color: var(--main-c1);
        font-size: 3vh;

        font-weight: 300;
        z-index: 11;
        letter-spacing: -0.1vh;
        padding: 5vh;

    }
    .slink{
        width: 80vw;
        margin-left: 10vw;
        margin-bottom: 4vh;
    }
    #fb1{
        height: 92vh;
    }
    #fb2{
        height: 50vh;
    }
    #fb3{
        height: 50vh;
    }
    #ytlink{
        height: 30vh;
        margin-bottom: 4vh;
    }
    #section8{
        background-image: url(TS.5.jpg);
        background-position: center;
        background-size:cover;
        height: 60vh;
        color: white;
    }
    #background4{
        background-color: var(--main-c1);
        opacity: 0.9;
        z-index: 2;
        height: 60vh;
    }
    #txtsec8{
        padding:5vw;
        position: absolute;
        margin-top: -55vh;
        font-size: 1.5vh;
    }
    #section9{
        color: #04337c;
        padding-top: 5vh;
        height: 96vh;
        background-image: url(tlo3.jpg);
        background-position: center;
        background-size:cover;
    }
    #txtsec9{
        margin: 5vw;
        width: 90vw;
        font-size: 1.5vh;
    }
    #decor7{
        background-image: url(tlo4.jpg);
        height: 20vh;
        background-position: center;
        background-size:cover;
    }
    #background5{
        height: 20vh;
        background-color: #04337c;
        opacity: 0.5;
    }
    #section10{
        height: 70vh;
        background-color: #04337c;
    }
    #txtsec10{       
        height: 70vh; 
        color:white;
        position: absolute;
        margin: 5vw;
        width: 90vw;
        z-index: 10;
        font-size: 1.5vh;
    }
    #section11{
        background-image: url(tlo5.jpg);
        background-position: center;
        background-size:cover;
        height: 60vh;
    }
    #background6{
        height: 60vh;
        background-color: #04337c;
        opacity: 0.95;
    }
    #decor8{
        display: flex;
        align-items: center;
        color: #04337c;
        height: 20vh;
        padding: 5vw;
        background-image: url(tlo2.jpg);
        background-position: center;
        background-size:cover;
        font-size: 1.5vh;
    }
    #txtsec11{
        font-size: 1.7vh;
        position: absolute;
        margin-left:5vw;
        color:white;
        margin-top: -50vh;

    }
@media (min-width:600px){
        #decor2{
            position: absolute;
            background-color: var(--main-c2);
            width: 15vh;
            height: 20vh;
            margin-left: 15vw;
            margin-bottom: 2vh;
            z-index: 1;
        }
    }
    #m_decor1{
        display: none;
    }
    #m_container1{
        display: none;
    }
    #m_nav{
        display: none;
    }
    #m_photo1{
        display: none;
    }
    #m_TK{
        display: none;
    }
    #m_photo2{
        display: none;
    }
    #m_section42{
        display: none;
    }
    }
@media (min-width: 1025px){
    body{
        font-family: 'Archivo Black', sans-serif;
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
    }
    nav{
        display: none;
    }
    #section1{
        width: 100vw;
        display: flex;
        background-image: url(tlo2.jpg);
        background-position: center;
        background-size:cover;
        height: 85vh;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-size: 8vh;
        margin-left: -1vw;
    }
    #photo{
        display: none;
    }
    #m_photo1{
        position: absolute;
        z-index: 5;
        height: 55vh;
        margin-left: -37vw;
        margin-top: -25vh;
    } 
    #TS{
        display: none;
    } 
    #m_container1{
        color: var(--main-c1);
        margin-top: -6vh;
        width: 60vw;
        padding-left: 10vw;
    }  
    #m_TS{
        width: 60vh;
        
        line-height: 12vh;

    }
    #m_tknp{
        font-size: 3vh;
        width: 40vw;
        margin-top: -4vh;
    }
    #m_lnt{
        font-size: 5vh;
        margin-top: -8vh;
        color: var(--main-c2);
    }
    #m_nav{
        width: 102vw;
        font-size: 2vh;
        position: absolute;
        margin-top: -78vh;
        text-align: center;
        background-color: white;
        border-bottom: 0.2vh solid #b1afaf;
        padding-bottom: 2vh;
        padding-top: 2vh;
        line-height: 5vh;
    }
    .m_btn{
        padding-left: 2vw;
        padding-right: 2vw;
        text-decoration: none;
        white-space: nowrap;
    }
    #m_decor1{
        margin-left: -1vw;
        width: 101vw;
        height: 5vh;
        background-color: var(--main-c1);
        text-align: center;
        color: white;
        font-size:2.5vh;
        letter-spacing: 2vw;
        padding-top: 1vh;
    }
    #TK{
        display: none;;
    }
    #m_TK{
        font-size:4vh;
        color: var(--main-c1);
    }
    #section2{
        display: flex;

        padding-top: 6vh;
        justify-content: space-between;
        align-items: center;
    }
    #txt2{
        font-size: 1.5vh;
        width: 45vw;
        margin-left: 5vw;
        color: var(--main-c1);
        margin-bottom: 20vh;
    }
    #m_photo2{
        height: 80vh;
        color: var(--main-c1);
        margin-right: 8vw;

    }
    #section4{
        background-color: var(--main-c1);
        color:white;
        width: 102vw;
        margin-left: -2vw;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
    #txt4{
        width: 40vw;
        font-size: 1.5vh;
        padding-left: 5vw;
        padding-bottom:10vh;
        
    }
    #PT{
        display: none;
    }
    #m_PT{
        font-size: 4vh;
        padding-top: 5vh;
    }
    #PW{
        display: none;
    }
    #download_pw{
        display: none;
    }
    #m_photo3{
        width: 51vw;
        height: auto;
        background-image: url(tarnobrzeg1.jpg);
        background-position: center;
        background-size:cover;

    }
    #m_section42{
        background-color: #04337c;
        height: 50vh;
        width: 102vw;
        margin-left: -2vw;
        display: flex;
        justify-content: space-between;
        color: white;
    }
    #m_photo4{
        background-image: url(tarnobrzeg2.jpg);
        background-position: center;
        background-size:cover;
        width: 51vw;
        height: 50vh;
    }
    #m_PW{
        font-size: 4vh;
    }
    #m_cpw{
        width: 30vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 10vw;
    }
    #pdf_file{
        height: 30vh;
    }
    #section5{
        width: 102vw;
        margin-left: -2vw;
        padding-bottom:10vh;
        padding-top:8vh;
        color: var(--main-c1);

        background-position: center;
        background-size:cover;

    }
    #txtsec5{
        width: 90vw;
        padding-left: 7vw;
    }
    #section6{
        height: 80vh;
        width: 102vw;
        margin-left: -2vw;
        background-color: rgb(97, 72, 72);
        background-position: center;
        background-size:cover;
    }
    #MZ{
        font-size: 3vh;
        color:  var(--main-c1);
        padding-top: 8vh;
        padding-left: 7vw;
    }
    #section7{
        padding-top: 20vh;
        width: 95vw;
        margin-left: -1vw;
        padding-left:5vw;
        background-image: url(tlo2.jpg);
        background-position: center;
        background-size:cover;
        display: flex;
        height: 95vh;
    }
    #Mtxt{
        position: absolute;
        padding-left: 1vw;
        font-size:3vh;
        color: var(--main-c2);
        margin-top: -12vh;   
    }
    .slink{
        width: 15vw;
        padding: 1vw;
    }
    #ytlink{
        height: 35vh;
    }
    #section8{
        width: 100vw;
        margin-left: -1vw;
        background-color: var(--main-c1);
        color: white;

        display:flex;
        justify-content: space-between;
        flex-direction: row-reverse
    }
    #txtsec8{
        margin-top: 5vw;
        margin-bottom: 5vw;
        width: 40vw;
    }
    #m_photo5{
        width:50vw;
        height: auto;
        background-image:url(TS7.jpeg);
        background-position: center;
        background-size:cover;
    }
    #section9{
        color:var(--main-c1);
        display:flex;
        width:100vw;
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(tlo3.jpg);
        background-position: center;
        background-size:cover;

    }
    #txtsec9{
        display: flex;
        width: 90vw;
    }
    .m_element1{
        width:30vw;
        padding: 2vw;
        text-align: center;
    }
    #section11{
        background-color: var(--main-c1);
        color:white;
        width: 100vw;
        margin-left:-1vw;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    #txtsec11{
        padding: 5vw;
    }
    #m_background{
        width: 50vw;
        height: 70vh;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #m_background1{
        border: 0.5vh solid var(--main-c1);
        width: 40vw;
        height: 60vh;
        color: var(--main-c1);
        font-size: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }




}




















